.container {
    display: flex;
    gap: 64px;
    background-color: white;
    padding-inline: 104px;
    padding-block: 64px;
}

.imageArea {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    width: 728px;
    height: 550px;
    border: 8px solid;
    border-color: var(--color-sky-100);
    border-radius: 32px;
    overflow: hidden;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.infoArea {
    flex: 1;
    /* margin-block: auto; */
}

.accentText {
    color: var(--base-color);
}

.infoText {
    font-size: 18px;
    padding-block: 24px;
}



