.panel {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 2px 12px oklch(0% 0 0 / 0.06);
  
}

.padding-sm {
  padding: 16px;
}

.padding-md {
  padding: 24px;
}

.padding-lg {
  padding: 32px;
}
